.form{
    width: 30%;
    min-width: 300px;
    margin:20px 33% 0px 33%;
    background-color: white;
    text-align: center;
}
.card{
    border-radius: 10px;
}
.title{
    background-color: rgba(69, 96, 112,.7);
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.row input[type="text"]{
    width:80%;
    padding: 5px;
    margin:10px 0px 2px 0px;
    font-size: 15px;
}
.row label {
    font-size: 13px;
    color: rgba(210, 36, 36,.7);
    font-weight: bold;
}
.row .button{
    width:50%;
    padding: 5px;
    border-radius: 10px;
    border:1px solid black;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    background-color: rgba(69, 96, 112,.6); 
    color:black;
    margin: 10px 0px 10px 0px;
    transition: all 1s;
    opacity: .75;
}
.row .button:hover{
    opacity: 1;
}
.red{
    background-color: rgba(227, 39, 39,1)!important;
}